.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-screen {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-container {
  width: 500px;
}

.App-header {
  background-color: rgb(200, 200, 200);
  color: black;
  padding: 5px;
  font-size: 8px;
  display: flex;
}

.App-header-push {
  margin-left: auto;
}

.App-header-links {
  margin-left: 5px;
  margin-right: 5px;
}

.App-contents {
  background-color: rgb(200, 200, 200);
  color: black;
  font-size: 8px;
  display: flex;
  flex-direction: column;
}

.App-content-box {
  background-color: white;
  color: black;
}

.App-content-description {
  background-color: rgb(200, 200, 200);
  color: black;
}

.App-footer {
  background-color: rgb(200, 200, 200);
  color: black;
  padding: 5px;
  font-size: 8px;
  display: flex;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}